@import "~bootstrap/dist/css/bootstrap.css";
*, :after, :before{
  box-sizing: border-box;
}
.paginationControl{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: red;   
  }
  a {
    cursor: pointer;
}

.invalid-feedback {
    font-size: 12px;
    display: block;
}
.section-height{
  background-color: #eee;
  height: 90vh !important;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}